*
{
    margin: 10x;
    background-color:burlywood;
}
.head
{ 
    
   border: 2px solid goldenrod;
   text-align: center;
   background-color: goldenrod;
   padding: 40px;
   position: sticky ;
 
   top:4px;
   height: 40px;

}
#image
{
    text-align: center;
    
    
}
#wiki a
{
 text-decoration: none;
 border: 2px solid black;
 padding: 3px;
 background-color: goldenrod;
 border-radius: 10px;
 text-align: center;
}
.history
{
    border: 5px solid goldenrod;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.footer{
    border: 5px solid goldenrod;
    margin-top: 20px;
    border-radius: black;
    padding: 10px;
    border-radius: 10px;
    
}
#img
{
    float:right;
    padding: 20px;
}
/* #div4
{
    background-color: azure;
    position:sticky;
} */